/* Font header */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Norican&display=swap');

/* 
    ---- HEADER ----
    text-color: #DCDFF9
    background-color: #04061D

    ---- BODY ----
    background-color: #111527
    text-color: #95B1AF
*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #DCDFF9;
}

/* HEADER */
.header {
    height: 760px;
    background-image: url(image/Desktop-Wallpaper.jpg);
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-color: #04061D;  
}

.header__nav {
    color: gray; 
    display: flex;
    font-family: 'Poppins', sans-serif;
    justify-content: space-between;
}

.header__nav__nav-list {
    position: relative;
}

.header__nav__nav-list__nav-item {
    display: inline-block;
    margin: auto 16px;
}

.header__nav__nav-list__nav-item h4 {
    color: #DCDFF9;
}

.header__nav__nav-list__nav-item #language {
    font-size: small;
}

/* CIT (Software Engineering) */
.header__nav__nav-list .profile-name {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: absolute;
    width: 160px;
    bottom: 30px;
    left: 100px;
}

/* Controllers Home, Illustration, Source, About us */
.header__nav__nav-list .controller {
    position: relative;
    bottom: -40px;
    font-size: 18px;
}

/* button About us*/
#header__nav__nav-list__nav-item__btn-controller {
    border-radius: 5px;
    padding: 7px 15px 7px 15px;
    background-color: #D27062;
}

#header__nav__nav-list__nav-item__btn-controller a {
    color: black;
}

/* Controller ICON for mobile */
.header__nav__nav-list .controller-icon {
    display: none;
    position: relative;
    bottom: -40px;
    font-size: 12px;
}

/* Hover */
.header__nav__nav-list .controller a:hover{
    color: #8F91AA;
}

.header__nav__nav-list .controller-icon a:hover{
    color: #8F91AA;
}

#header__nav__nav-list__nav-item__btn-controller:hover{
    background-color: #B05246;
}

/* FOOTER */
.footer {
    height: auto;
    display: flex;
    justify-content: center;
    padding: 16px;
    background-color: #04061D;
}

.part_2 {
    justify-content: space-between;
}

/* Title Find us, Call us and Mail us */
.header__nav__nav-list .title-footer h6 {
    color: #DCDFF9;
}

/* Icon of title below */
.header__nav__nav-list .icon-footer a {
    color: orange;
}

.header__nav__nav-list .icon-footer span {
    font-size: 34px;
}

.header__nav__nav-list .icon-contact a {
    color: orange;
}

.header__nav__nav-list .icon-contact i {
    font-size: 34px;
}

.header__nav__nav-list .margin_contact {
    margin: 10px 0 10px 40px;
}

.header__nav__nav-list .margin_footer {
    margin: auto 0 auto 40px;
}

.footer-line {
    border-top: 1px solid #DCDFF9;
}

/* CIT Introduction */
.header__nav__nav-list #content-team {
    width: 100%;
    padding: 0 16px 16px 16px;
    text-align: justify;
}

/* Links */
.header__nav__nav-list .link-footer p {
    color: gray;
}

/* Hover */
.header__nav__nav-list .link-footer p:hover {
    color: #DCDFF9;
    text-decoration: underline;
}

.header__nav__nav-list .icon-footer span:hover {
    color: rgba(255, 166, 0, 0.8);
}

.header__nav__nav-list .icon-contact i:hover {
    color: rgba(255, 166, 0, 0.8);
}

/* BODY */
body {
    background-color: #303347;
}

.container {
    margin: 20px 20px;
}

#container__title-page {
    text-align: center;
    color: #DCDFF9;
    margin-top: 30px;
}

.container__project{
    display: inline-flex;
    background-color: #111527;
    border-radius: 20px;
    margin: 16px 16px;
}

.container__project__description{
    width: 50%;
    margin: 20px;
    line-height: 35px;
}

.container__project__illustrate {
    width: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.container__project__description #detail {
    color:#DCDFF9;
    margin-bottom: 18px;
    text-decoration: underline;
    text-align: end;
    margin: 0;
}

.container__project__description h2{
    font-family: 'Playfair Display SC';
    color:#5DB5A6;
    margin-bottom: 16px;
}

.container__project__description p{
    font-family: 'Quicksand', sans-serif;
    margin: 10px auto;
    color:#95B1AF;
    font-size: 16px;
    text-align: justify;
}

.d-none {
    display: none;
}

/* Mobile width < 740px */
@media only screen and (max-width: 740px) {
    .header {
        height: 300px;
    }

    .header__nav__nav-list .controller-icon {
        display: inline-flex;
        margin: auto 14px;
        left: -20px;
    }

    .header__nav__nav-list .profile-name, .controller {
        display: none;
    }

    .icon-contact i {
        font-size: 20px;
    }

    .margin_contact {
        margin: 6px 0 auto 21px;

    }

    .icon-footer span {
        font-size: 30px;
    }

    .margin_footer {
        margin: auto 16px;
    }

    .title-footer {
        display: none;
    }

    .part_3 .icon-footer {
        font-size: 12px;
    } 
}


