/* Font header */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Norican&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: whitesmoke;
}

/* HEADER */
.header {
    height: 450px;
    width: auto;
    background-image: url(image/Desktop-Wallpaper.jpg);
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-color: #04061D;  
}

.nav {
    color: gray; 
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: space-between;
}

.nav-item {
    display: inline-block;
    margin: auto 16px;
}

.nav-item h4 {
    color: whitesmoke;
}

.nav-list {
    position: relative;
}

/* CIT (Software Engineering) */
.profile-name {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: absolute;
    width: 160px;
    bottom: 30px;
    left: 100px;
}

/* Controllers Home, Illustration, Source, About us */
.controller {
    position: relative;
    bottom: -40px;
    font-size: 18px;
}

/* button About us*/
#btn-controller {
    border-radius: 5px;
    padding: 7px 15px 7px 15px;
    background-color: orange;
}

#btn-controller a {
    color: black;
}

/* Controller ICON for mobile */
.controller-icon {
    display: none;
    position: relative;
    bottom: -40px;
    font-size: 12px;
}

/* Hover */
.controller a:hover{
    color: #04061D;
}

.controller-icon a:hover{
    color: #04061D;
}

#btn-controller:hover{
    background-color: rgba(255, 166, 0, 0.9);
}

/* FOOTER */
.footer {
    height: auto;
    display: flex;
    justify-content: center;
    padding: 16px;
    background-color: #04061D;
}

.part_2 {
    justify-content: space-between;
}

/* Title Find us, Call us and Mail us */
.title-footer h6 {
    color: whitesmoke;
}

/* Icon of title below */
.icon-footer a {
    color: orange;
}

.icon-footer span {
    font-size: 34px;
}

.icon-contact a {
    color: orange;
}

.icon-contact i {
    font-size: 34px;
}

.margin_contact {
    margin: 10px 0 10px 40px;
}

.margin_footer {
    margin: auto 0 auto 40px;
}

.footer-line {
    border-top: 1px solid whitesmoke;
}

/* CIT Introduction */
#content-team {
    width: 100%;
    padding: 0 16px 16px 16px;
}

/* Links */
.link-footer p {
    color: gray;
}

/* Hover */
.link-footer p:hover {
    color: whitesmoke;
    text-decoration: underline;
}

.icon-footer span:hover {
    color: rgba(255, 166, 0, 0.8);
}

.icon-contact i:hover {
    color: rgba(255, 166, 0, 0.8);
}

/* BODY */
body {
    background-color: #04061D;
}

.container {
    margin: 20px 20px;
}

.container .project{
    display: inline-flex;
    background-color: rgba(40, 43, 78, 0.35);
    border-radius: 20px;
}

.container .project .description{
    width: 50%;
    margin: 20px;
}

.container .oop .illustrate {
    width: 50%;
    background-image: url(image/oop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.container .project .description .detail{
    color:white;
    margin-bottom: 18px;
    text-decoration: underline;
    text-align: end;
    margin: 0;
}

.container .project .description h1{
    font-family: 'Playfair Display SC';
    color:cadetblue;
    margin-bottom: 16px;
}

.container .project .description p{
    font-family: 'Quicksand', sans-serif;
    margin: 10px auto;
    color:lightslategrey;
    font-size: 16px;
    text-align: justify;
}

.container .project .description ul li{
    font-family: 'Quicksand', sans-serif;
    margin: 10px 18px;
    color: lightslategrey;
}

/* Mobile width < 740px */
@media only screen and (max-width: 740px) {
    .controller-icon {
        display: inline-flex;
        margin: auto 14px;
        left: -20px;
    }

    .profile-name, .controller {
        display: none;
    }

    .icon-contact i {
        font-size: 20px;
    }

    .margin_contact {
        margin: 6px 0 auto 21px;

    }

    .icon-footer span {
        font-size: 30px;
    }

    .margin_footer {
        margin: auto 16px;
    }

    .title-footer {
        display: none;
    }

    .part_3 .icon-footer {
        font-size: 12px;
    } 
}


